.main {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #5c7b78;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main h1 {
  margin-top: 0;
  font-size: 1.8rem;
  color: #1b3656;
  text-align: center;
  font-weight: 600;
}

.main p {
  text-align: center;
  font-size: 1rem;
  color: #f8f8f8;
  line-height: 1.5;
  margin-bottom: 30px;
  padding: 0 20px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form .box {
  flex: 1 1 100%;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form .box:focus {
  outline: none;
  border-color: #dcbf79;
}

.submit {
  background: #dcbf79;
  color: #fff;
  font-size: 1rem;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 0; /* Adjust if you want spacing between input and button */
}

.submit:hover {
  background: transparent;
}

@media (min-width: 480px) {
  .form .box {
      flex: 1;
      margin-right: 10px;
      margin-bottom: 0;
  }

  .submit {
      margin-left: 10px;
      margin-bottom: 0;
  }
}