/* General page styling */
@font-face {
    font-family: 'Open Sauce One';
    src: url('/src/Open Sauce Font/OpenSauceOne-Black.ttf') format('truetype');
    font-weight: 900; /* Adjust based on the font's weight */
    font-style: normal;
}

body.page{
    font-family: 'Open Sauce One', Arial, sans-serif;
/* Light gray background */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position:center; /* Center the image */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
body.transparent-navbar-page .button-group { /* Makes the navbar transparent */
    box-shadow: none; /* Removes shadow if desired */
  }

/* General Styles */
.contact-header {
    font-size: 2.8rem;
    color: #091268;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
  }
  
  .contact-p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    line-height: 1.6;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
  }
  
  .contact-form {
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 800px; /* Ensure it doesn't grow too large */
    margin: 0 auto; /* Center the form */
  }
  
  .contact-form div {
    display: flex;
    gap: 15px;
  }
  
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    width: 96%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
    margin-top: 2%;
  }
  
  .contact-form input:focus,
  .contact-form select:focus,
  .contact-form textarea:focus {
    border-color: #091268;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .contact-form button {
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #091268;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 100%;
  }
  
  .contact-form button:hover {
    transform: translateY(-3px);
    background-color: #1b3656;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 10px;
    text-align: center;
  }
  
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 10px;
    text-align: center;
  }
  
  .dropdown {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none;
    background-color: #f8f8f8 !important;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    font-size: 1rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  


.dropdown{
    appearance: none; /* Standard property to remove default styles */
    -webkit-appearance: none; /* For Safari/Chrome */
    -moz-appearance: none; 
    max-width: 40em;
  position: relative;
  width: 100%;
  align-self: center;
  background-color:  #f8f8f8 !important;
  border-radius: 0;
  cursor: pointer;

}
