.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  .footer p {
    margin: 0;
    font-size: 18px;
  }
  
  /* Social media icon links */
  .social-links {
    margin-top: 10px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #007bff; /* Change color on hover */
  }