.footer {
    background-color: #6b90ff;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fff;
    
  }
  
  .connect{
    margin: 0;
    font-size: 18px;
  }
  
  /* Social media icon links */
  .social-links {
    margin-top: 10px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #007bff; /* Change color on hover */
  }

  .sunni{
    font-size: 10px;

  }


.footer-logo{

  padding-top: 2%;
}

.site-footer {
  background-color: #1d2736;
  color: white;
  padding: 40px 20px;
  font-family: 'Open Sans', sans-serif;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}
.stripe-logo {
  width: 20%;
  height: auto;
  margin-top: 10px;

}
.footer-logo{
  width: 15%;
  height: 150px;
  margin-top: 10px;
 
}
.footer-section-second{
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 20px;
}