

.layout-header{
  background-color: transparent;
  box-shadow: none;
  position: relative; 
}
/* HEADER STYLES */
.nav-container {

  margin-left: 0;
  padding: 2% 5%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.left-nav {
  display: flex;
  align-items: center;
  background-color: transparent;

}

.nav-logo {
  height: 50px;
  width: auto;
}

/* HAMBURGER BUTTON */
.hamburger-button {

  z-index: 1001;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 50px;
  cursor: pointer;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.sidebar-layout {
  position: fixed;
  top: 0;
  right: -300px; /* Move it further off-screen */
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1002;
  transform: translateX(100%); /* Completely moves it out of view */
  background-color: #6b90ff;
}

/* Show sidebar when open */
.sidebar-layout.open {
  transform: translateX(0);
  right: 0;
}

/* SIDEBAR CLOSE BUTTON */
.close-button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-end;
  font-weight: 100;
}

/* SIDEBAR MENU ITEMS */
.sidebar-layout-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar-layout-item {
  padding: 15px;
  text-decoration: none;
  color: #FFFF;
  font-size: 18px;
  transition: background 0.3s;
 
}

.sidebar-layout-item:hover {
  background-color: #f1f1f1;
  color: #091268;

}

/* DARK OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.transparent-header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.transparent-header .nav-logo,
.transparent-header .hamburger-button {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));
}

@media screen and (max-width: 768px) {
  /* Reduce header padding for mobile */
  .nav-container {
    padding: 10px 20px;
  }

  /* Smaller hamburger button for mobile screens */
  .hamburger-button {
    top: 15px;
    right: 5px;
    font-size: 40px;
  }

  /* Adjust sidebar dimensions for mobile */
  .sidebar-layout {
    width: 200px;
    right: -200px; /* Offset matches the new width */
    padding: 15px;
  }

  /* Sidebar items: slightly smaller for a mobile-friendly feel */
  .sidebar-layout-item {
    padding: 10px;
    font-size: 16px;
  }
  .nav-logo{
    width: 50%;
    height: 40%;


  }
}