.log-button{
    position: absolute;
    right: 5px;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px; /* Rounded edges for egg shape */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group {
    display: flex;
    gap: 20px; /* Space between buttons */
    margin-bottom: 20px; /* Space between buttons and search bar */
  }
  
  /* Style for each button */
.nav-button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px; /* Rounded edges for egg shape */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.nav-button:hover {
    background-color: #0056b3;
  }

header{
  background-color:black ;
}