/* General Styles */
.dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
  color: #333;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.loading-message,
.error-message {
  text-align: center;
  color: red;
  margin: 10px 0;
}

/* Section Styles */
.dashboard-content section {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 15px;
  color: #1b3656;
}

/* Key Metrics */
.metric-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: #091268;
  color: #f8f8f8;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Pending Applications */
.pending-list {
  list-style: none;
  padding: 0;
}

.application-item {
  background: #ecf0fc;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.application-logo {
  max-width: 100px;
  max-height: 100px;
  margin: 10px 0;
}

.application-buttons button {
  margin-right: 10px;
}

/* Quiz Management */
.add-question input,
.add-question select {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: calc(100% - 30px);
}

.question-list {
  list-style: none;
  padding: 0;
}

.question-item {
  margin-bottom: 15px;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Form Responses */
.form-responses-list {
  list-style: none;
  padding: 0;
}

.form-response-group {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-response-item {
  margin-bottom: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .metric-cards {
      grid-template-columns: 1fr;
  }

  .application-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }

  .add-question input,
  .add-question select,
  .add-question button {
      width: 100%;
  }
}