body.specific-page-upload {

  background-color: #ECF0FC;
  height: 100vh;
  padding-top: 5%;
  background-image: url(../../../public/images/wallpapers/513263E5-0004-4894-94EB-ED2B77EAAF15.png);
  
  
  
  }

.upload-tutorial{
  background-color: #ECF0FC;
  height: 100vh;
  padding-top: 5%;
  background-image: url(../../../public/images/wallpapers/513263E5-0004-4894-94EB-ED2B77EAAF15.png);
}


/* Container */
.upload-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
 
    background: linear-gradient(to top, #ffffff 80%,#6b90ff 20%);
    border-radius: 10px;
  }
  
  /* Heading */
  .upload-heading {
    font-size: 2rem;
    font-weight: 200;
    color: #FFFF; /* Dark Blue */
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form Styling */
  .upload-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10%;
  }
  
  /* Labels */
  .upload-label {
    font-weight: bold;
    color: #333;
  }
  
  /* Inputs & Textarea */
  .upload-input,
  .upload-textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  .upload-input:focus,
  .upload-textarea:focus {
    border-color: #1b3656;
    outline: none;
    box-shadow: 0 0 5px rgba(27, 54, 86, 0.3);
  }
  
  /* File Upload */
  .upload-file {
    border: 1px dashed #999;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .upload-file:hover {
    background-color: rgba(27, 54, 86, 0.1);
  }
  
  /* Submit Button */
  .upload-button {
    background-color: #1b3656;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 50%;
    align-self: center;
  }
  
  .upload-button:hover {
    background-color: #152a43;
  }
  
  /* Disabled Button */
  .upload-button:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  
  /* Error & Success Message */
  .upload-message {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }
  .error-border {
    border: 2px solid red !important;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }

  .upload-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .upload-tag {
    padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid #1b3656;
    background: white;
    color: #1b3656;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .upload-tag.active {
    background: #1b3656;
    color: white;
  }