.contain{

    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; 
}

.submit{
    background-color: red;
}