/* General Container */
.cont {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ecf0fc; /* Greyish background */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

/* Input Fields */
.inp {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
  background-color: #fff;
  transition: all 0.3s ease;
}

.inp:focus {
  border-color: #091268; /* Light blue border on focus */
  box-shadow: 0 0 6px rgba(9, 18, 104, 0.3); /* Glow effect */
}

/* Radio Buttons */
.radio {
  margin-right: 10px;
}

label {
  font-size: 1rem;
  color: #091268;
  margin-right: 20px;
}

/* Submit Button */
.sbmit {
  width: 100%;
  background-color: #091268; /* Light blue */
  color: #f8f8f8;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.sbmit:hover {
  background-color: #1b3656; /* Dark blue */
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* File Input */
.inp[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}
.sign-up-dropdown{
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none;
  background-color: #f8f8f8 !important;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 15px;
  width: 100%;
  font-size: 1rem;
  margin-top: 2%;
  margin-bottom: 2%;
}


/* Responsive Design */
@media (max-width: 768px) {
  .cont {
      padding: 30px;
      width: 100%;
  }

  .inp {
      font-size: 0.9rem;
  }

  .sbmit {
      font-size: 1rem;
  }

  label {
      font-size: 0.9rem;
  }
}


/* Style the select dropdown */
.jobtype {
  appearance: none; /* Remove default styles */
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

/* Style the dropdown options */
.joptype option {
  appearance: none; /* Remove default styles */
  -webkit-appearance: none;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

/* Highlight selected dropdown */
.jobtype:focus {
  appearance: none; /* Remove default styles */
  -webkit-appearance: none;
  border-color: #5c7b78; /* Use your green color */
  outline: none;
}

/* Add transition for a smooth hover effect */
.jobetype:hover {
  appearance: none; /* Remove default styles */
  -webkit-appearance: none;
  border-color: #dcbf79; /* Gold color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .jobtype {
    font-size: 14px;
    padding: 8px;
  }
}